<div>
    <h1>Recupera la contraseña</h1>
    <form id="recoverPasswordForm" onsubmit="return false;">
        <label>Nueva contraseña</label>
        <input  type="password" name="password">
        <input type="submit">
    </form>
    <a href="/login">Volver a Login</a>
</div>

<script src="/js/recoverPassword.js"></script>